# 1번 문제

In [1]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
boston = load_boston()

In [10]:
X = pd.DataFrame(boston.data, columns = boston.feature_names)
y = pd.DataFrame(boston.target, columns = ['price'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.2, shuffle = True)

In [11]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [12]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [19]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [20]:
model.score(X_train, y_train)

0.7258967585508034

In [22]:
model.score(X_test, y_test)

0.7820621983398577

# 2번 문제

In [23]:
data = {
    '종목명' : ['종목A', '종목B', '종목C'],
    '발행주식수' : ['10,000', '5,000', '100,000']
}

In [25]:
df1 = pd.DataFrame(data)
df1

   종목명    발행주식수
0  종목A   10,000
1  종목B    5,000
2  종목C  100,000

In [41]:
df1['발행주식수'][1]

'5,000'

In [28]:
data2 = {
    '일자' : ['1일', '2일', '3일'],
    '종목A종가' : [100, 105, 110],
    '종목B종가' : [1000, 1050, 1100],
    '종목C종가' : [5000, 4500, 4000],
}

In [30]:
df2 = pd.DataFrame(data2)
df2

   일자  종목A종가  종목B종가  종목C종가
0  1일    100   1000   5000
1  2일    105   1050   4500
2  3일    110   1100   4000

In [53]:
df3 = pd.DataFrame(columns = ['A시총', 'B시총', 'C시총'], index = df2.index)

for i in range(3):
    df3['A시총'][i] = df2['종목A종가'][i] * 10000
    df3['B시총'][i] = df2['종목B종가'][i] * 5000
    df3['C시총'][i] = df2['종목C종가'][i] * 100000
df3

       A시총      B시총        C시총
0  1000000  5000000  500000000
1  1050000  5250000  450000000
2  1100000  5500000  400000000

In [47]:
df_a

1100000

In [34]:
df2.sum(axis = 1)

0    6100
1    5655
2    5210
dtype: int64

In [54]:
d_data = pd.DataFrame(columns = ['다우존스방식', '시가총액방식'], index = df2.index)
for i in range(3):
    d_data['다우존스방식'].iloc[i] = df2.sum(axis=1)[i] / df2.sum(axis=1)[0] * 100
    d_data['시가총액방식'].iloc[i] = df3.sum(axis=1)[i] / df3.sum(axis=1)[0] * 100
d_data

    다우존스방식   시가총액방식
0      100      100
1  92.7049  90.1779
2  85.4098  80.3557

In [ ]:
dd