In [1]:
import pandas as pd

In [3]:
cd call

C:\Users\student\Documents\Daikoku_Python\call

In [4]:
data = pd.read_csv('news_token_up_down_dataframe.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.head()

   Unnamed: 0                          하락                    상승
0           0  미/NNG;금리/NNG;인상/NNG;중단/NNG       주택시장/NNG;냉각/NNG
1           1       수익성/NNG;악화/NNG;우려/NNG         예상/NNG;강화/NNG
2           2       부동산/NNG;주가/NNG;강세/NNG          금리/NNG;오르/VV
3           3        경제/NNG;지표/NNG;부진/NNG         금리/NNG;인상/NNG
4           4        수출/NNG;주가/NNG;약세/NNG  수출/NNG;주가/NNG;강세/NNG

In [6]:
data.tail()

          Unnamed: 0       하락   상승
26090786    26090786   본격/NNG  NaN
26090787    26090787     되/VV  NaN
26090788    26090788  가능성/NNG  NaN
26090789    26090789     크/VA  NaN
26090790    26090790     하/VV  NaN