In [43]:
import pandas as pd

In [46]:
data = pd.read_excel('금통위 의사록_M.xlsx')
data.head()

,Unnamed: 0,date,s2,s3,call,ngram_s2,ngram_s3
0,0,2005-06-09,"외환국제금융 동향과 관련하여, 일부 위원은 우리나라 경제가 일본경제에 비해 더 나...","금융시장 동향과 관련하여, 일부 위원은 M1이 실물경제와 어느 정도의 시차를 두고...",0,"엔달러/NNG;환율/NNG;상승/NNG,유로존/NNG;경제/NNG;성장/NNG,기대...","금융시장/NNG;경기/NNG;회복/NNG,가계/NNG;대출/NNG;증가/NNG,주택..."
1,1,2005-06-23,NaN,NaN,0,NaN,NaN
2,2,2005-07-07,"외환국제금융 동향과 관련하여, 일부 위원은 6월 들어 국제유가가 크게 오르고 원화...","금융시장 동향과 관련하여, 일부 위원은 단기적으로 대출이 급격히 증가한 후에는 반...",0,"해외/NNG;증권/NNG;투자/NNG;증가/NNG,해외/NNG;증권/NNG;투자/N...",민간/NNG;소비/NNG;부진/NNG
3,3,2005-08-11,"외환국제금융 동향과 관련하여, 일부 위원은 위안화 절상 이후 아시아 통화중 우리나...","금융시장 동향과 관련하여, 일부 위원은 최근 장기시장금리 상승에도 불구하고 기업 ...",0,"자본/NNG;유출/NNG;가능성/NNG;낮/VA,금융시장/NNG;위안/NNG;절상/...","부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,은행/NNG;중소기..."
4,4,2005-09-08,"외환국제금융 동향과 관련하여, 일부 위원은 최근 인도네시아 금융불안 사태가 발생한...","금융시장 동향과 관련하여, 일부 위원은 시장이 제대로 작동한다면 비우 5 량등급의...",0,"금리/NNG;인상/NNG;장기/NNG;금리/NNG;상승/NNG,fed/NNG;단기/...","자금/NNG;단기/NNG;부동/NNG;우려/NNG,gdp/NNG;갭/NNG;마이너스..."

In [47]:
data = data.drop(data.columns[[0]], axis = 'columns')
data.head()

,date,s2,s3,call,ngram_s2,ngram_s3
0,2005-06-09,"외환국제금융 동향과 관련하여, 일부 위원은 우리나라 경제가 일본경제에 비해 더 나...","금융시장 동향과 관련하여, 일부 위원은 M1이 실물경제와 어느 정도의 시차를 두고...",0,"엔달러/NNG;환율/NNG;상승/NNG,유로존/NNG;경제/NNG;성장/NNG,기대...","금융시장/NNG;경기/NNG;회복/NNG,가계/NNG;대출/NNG;증가/NNG,주택..."
1,2005-06-23,NaN,NaN,0,NaN,NaN
2,2005-07-07,"외환국제금융 동향과 관련하여, 일부 위원은 6월 들어 국제유가가 크게 오르고 원화...","금융시장 동향과 관련하여, 일부 위원은 단기적으로 대출이 급격히 증가한 후에는 반...",0,"해외/NNG;증권/NNG;투자/NNG;증가/NNG,해외/NNG;증권/NNG;투자/N...",민간/NNG;소비/NNG;부진/NNG
3,2005-08-11,"외환국제금융 동향과 관련하여, 일부 위원은 위안화 절상 이후 아시아 통화중 우리나...","금융시장 동향과 관련하여, 일부 위원은 최근 장기시장금리 상승에도 불구하고 기업 ...",0,"자본/NNG;유출/NNG;가능성/NNG;낮/VA,금융시장/NNG;위안/NNG;절상/...","부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,은행/NNG;중소기..."
4,2005-09-08,"외환국제금융 동향과 관련하여, 일부 위원은 최근 인도네시아 금융불안 사태가 발생한...","금융시장 동향과 관련하여, 일부 위원은 시장이 제대로 작동한다면 비우 5 량등급의...",0,"금리/NNG;인상/NNG;장기/NNG;금리/NNG;상승/NNG,fed/NNG;단기/...","자금/NNG;단기/NNG;부동/NNG;우려/NNG,gdp/NNG;갭/NNG;마이너스..."

In [48]:
import os

In [49]:
cd call

[WinError 2] 지정된 파일을 찾을 수 없습니다: 'call'
C:\Users\student\Documents\Daikoku_Python\call

In [50]:
data_c = pd.read_excel('call_M.xlsx')
data_c.head()

        date  price up_down
0 2019-07-15   1.73      하락
1 2019-07-12   1.74      하락
2 2019-07-11   1.75       0
3 2019-07-10   1.74      하락
4 2019-07-09   1.69      하락

In [51]:
data_c.loc[0, 'date']

Timestamp('2019-07-15 00:00:00')

In [52]:
data.loc[0, 'date']

Timestamp('2005-06-09 00:00:00')

In [53]:
data_c[data_c['date'] == data.loc[0, 'date']]['up_down'].values[0]

'하락'

In [54]:
# call 금리 집어넣기
for i in range(len(data)):
    try:
        data.loc[i, 'call'] = data_c[data_c['date'] == data.loc[i, 'date']]['up_down'].values[0]
    except:
        print(i)

196

In [55]:
data.loc[196].date

Timestamp('2014-03-13 00:00:00')

In [56]:
data.to_excel('금통위 통합본.xlsx')

In [62]:
data.loc[196, 'date']

Timestamp('2014-03-13 00:00:00')