In [1]:
url = 'http://www.bok.or.kr/portal/singl/baseRate/list.do?dataSeCd=01&menuNo=200643'

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
resp = requests.get(url)
soup = BeautifulSoup(resp.content)

In [8]:
tr_list = soup.find('div', class_= 'table tac').find_all('tr')

In [26]:
from datetime import date
result = []
for tr in tr_list[1:]:
    a = tr.text.split('\n')
#     print(a)
    time = date(int(a[1]), int(a[2][0:2]), int(a[2][4:6])) 
    basemoney = a[3]
    
    new_dict = {
        'time' : time,
        'basemoney' : basemoney
    }
    result.append(new_dict)

In [28]:
import pandas as pd
df = pd.DataFrame(result)
df = df.set_index('time')
df.head()

           basemoney
time
2019-07-18      1.50
2018-11-30      1.75
2017-11-30      1.50
2016-06-09      1.25
2015-06-11      1.50

In [29]:
df.tail()

           basemoney
time
2001-07-05      4.75
2001-02-08      5.00
2000-10-05      5.25
2000-02-10      5.00
1999-05-06      4.75

In [30]:
df.to_csv('기준금리.csv')