# Pandas 기초(1)

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('C:\\Users\\user\\Documents\\Python\\data\\01. CCTV_in_Seoul.csv')
df.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [6]:
df.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [9]:
df.rename(columns = {df.columns[0] : '구별'}, inplace = True)
df.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [11]:
df = pd.read_excel('C:\\Users\\user\\Documents\\Python\\data\\01. population_in_Seoul.xls')
df.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [16]:
df2 = pd.read_excel('C:\\Users\\user\\Documents\\Python\\data\\01. population_in_Seoul.xls', 
                    header = 2, usecols = [1,3,6,9,13])
df2.columns = ['구별', '인구수', '한국인', '외국인', '고령자']
df2.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [17]:
import pandas as pd
import numpy as np

In [31]:
date = pd.Series([1,3,5,np.nan, 6, 8])
date

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [32]:
print(pd.date_range('20130101', periods = 6))

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [33]:
print(pd.date_range('20130101', '20130106'))

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [34]:
np.random.seed(0)

# 3번을 해보세요!
df = pd.DataFrame(data = np.random.randn(6,4), index = date, columns = ['A', 'B', 'C', 'D'])
print(df)
# 4번을 해보세요!
print(df.head(3))

            A         B         C         D
1.0  1.764052  0.400157  0.978738  2.240893
3.0  1.867558 -0.977278  0.950088 -0.151357
5.0 -0.103219  0.410599  0.144044  1.454274
NaN  0.761038  0.121675  0.443863  0.333674
6.0  1.494079 -0.205158  0.313068 -0.854096
8.0 -2.552990  0.653619  0.864436 -0.742165
            A         B         C         D
1.0  1.764052  0.400157  0.978738  2.240893
3.0  1.867558 -0.977278  0.950088 -0.151357
5.0 -0.103219  0.410599  0.144044  1.454274